{% extends 'base.html' %}
{% block content%}
<h1 class="heading">Гостинечный комплекс Селигер</h1>
<hr>
<div class="index_container">
<h2 class="subheadings">Отдых с комфортом</h2>

    <p class="text">Гостиничный комплекс "Селигер 69" расположена в живописном месте на берегу озера Селигер в деревне Залучье, всего 15 км от г. Осташков Тверской области. Каждого гостя ждут уютные и максимально комфортабельные номера. Мы постараемся окружить Ваше пребывание в гостиничном комплексе добрым отношением, теплой заботой, домашним уютом и комфортом. Мы готовы принять вас в любое время года — насладитесь отдыхом на Селигере летом и зимой вместе с нами.</p>
</div>
{% endblock %}