{% extends 'base.html' %}
{% block content%}
<h1 class="heading">Номера</h1>
<hr>
    <div class="container">
        <div class="rooms_container">
            <h2 class="subheadings">Стандарт</h2>
            <p class="text">В вашем распоряжении будет просторная спальня с двумя односпальными кроватями, с двумя креслами и столиком, где вы можете наслаждаться отдыхом после насыщенного дня.</p>
        </div>

        <div class="rooms_container">
            <h3 class="subheadings">Улучшеный стандарт</h3>
            <p class="text">Приглашаем вас остановиться в наших трёхместных комфортабельных номерах, разделенных на спальную зону с одной большой кроватью и уютную гостиную. </p>
        </div>
    </div>
{% endblock %}