{% extends 'us/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="block">
        {% for attraction in attractions %}

        <div class="attractions">
            <div class="attractions__container">
                <div class="attractions__top">
                    <div class="attractions__titl ">
                        <a href="{% url 'attractions' attraction.id %}" class="attractions">
                            <h3 class="attractions__title easy-zoom-effect">{{ attraction.title }}</h3>
                        </a>
                    </div>
                    <div class="attractions__img">
                        <a href="{% url 'attractions' attraction.id %}">
                            <img class="attractions__images easy-zoom-effect"  src="{{ attraction.image.url }} " />
                        </a>
                    </div>
                </div>
                <div class="attractions__botoom">
                    <a href="{% url 'attractions' attraction.id %}">
                        <div class="attractions__description">{{attraction.description|truncatechars:100|safe }}</div>
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}