<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{% static 'images/logosb.webp' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}"/>

    <title>База отдыха "Селигерский Бережок" - отдых на озере Селигер </title>
</head>

<body>

{% include 'us/navbar.html' %}
{% block content %}{% endblock %}

</body>

</html>