<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/logosb.webp' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}"/>

    <title>База отдыха "Селигерский Бережок" - отдых на озере Селигер </title>
</head>

<body>

{% include 'us/navbar.html' %}

{% block content %}{% endblock %}

{% include 'us/footer.html' %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>