{% extends 'us/base.html' %}
{% load static %}


{% block content %}
<div class="contact">
<div class="contact_container">
        <div class="contact_block">
            <p class="heading__contact">Телефон:</p>
            <a href="tel:+79157301614" class="text__contact">+7 (915) 730-16-14</a>
            <p class="heading__contact">Электронная почта:</p>
            <a href="mailto:seligerilyinka69@mail.ru" class="text__contact">seligerilyinka69@mail.ru</a>
            <p class="heading__contact">Индивидуальный предприниматель </p>
            <p class="heading__contact">Ильина Анна Игоревна</p>
            <p class="heading__contact">ИНН:</p>
            <p class="text__contact">691369941606</p>
            <p class="heading__contact">Юридически адрес</p>
            <p class="text__contact">Тверская область, город Осташков</p>
        </div>
        <div class="contact_block">
            <div  class="reviews">
                <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/109875557352?comments"></iframe>
                <a href="https://yandex.ru/maps/org/seligerskiy_berezhok/109875557352/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Селигерский бережок на карте Тверской области — Яндекс Карты</a>
            </div>
        </div>
        <div class="contact_block">
            <p class="heading__contact">Адрес:</p>
            <p class="text__contact">Тверская область, поселок Осцы, дом 29</p>
            <div class="location" style="">
                <a href="https://yandex.ru/maps/org/seligerskiy_berezhok/109875557352/?utm_medium=mapframe&utm_source=maps"  class="location__title">Селигерский бережок</a>
                <a href="https://yandex.ru/maps/10819/tver-oblast/category/resort/184106400/?utm_medium=mapframe&utm_source=maps" class="location__b">База, дом отдыха в Тверской области</a>
                <iframe src="https://yandex.ru/map-widget/v1/?ll=33.280931%2C57.075268&mode=poi&poi%5Bpoint%5D=33.272557%2C57.079615&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D109875557352&z=15" width="560" height="400" frameborder="1" allowfullscreen="true" style=""class="location__a"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}