{% extends 'us/base.html' %}
{% load static %}


{% block content %}
<div>
    <h2 class="title__home"> Дома </h2>
            <div class="block">
        {% for homes in home %}


        <div class="homes__block">



            <div class="homes__container">
                <div class="homes">
                    <div class="homes__top">
                         <a href="{% url 'home' homes.id %}" class="homes">
                        <img class="homes__images easy-zoom-effect" src="{{ homes.images.url }} " />
                         </a>
                    </div>
                    <div class="homes__botoom">
                        <a href="{% url 'home' homes.id %}" class="homes">
                        <h5 class="homes__price easy-zoom-effect" > {{ homes.price }} руб.</h5>
                        <h3 class="homes__title easy-zoom-effect"> {{ homes.title }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}