<header class="header">
    {% load static %}
    <div class="container">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logosb.webp' %}" alt="" />
      </a>
      <nav class="header__nav">

          <ul class="header_menu">
              <li class="header_item"><a href="{% url 'us' %}">О нас</a></li>
              <li class="header_item"><a href="{% url 'home' %}">Дома</a></li>
              <li class="header_item"><a href="">Достопримечательности</a></li>
              <li class="header_item"><a href="">Отзывы</a></li>
          </ul>


      </nav>

    </div>
</header>