<header class="header">
    {% load static %}
    <div class="container__header">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logosb.webp' %}" alt="" />
      </a>
      <nav class="header__nav">

          <ul class="header_menu">
              <li class="header_item"><a href="{% url 'us' %}">О нас</a></li>
              <li class="header_item"><a href="{% url 'homes' %}">Дома</a></li>
              <li class="header_item"><a href="{% url 'attraction' %}">Достопримечательности</a></li>
              <li class="header_item"><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>


      </nav>

    </div>
</header>