{% extends 'us/base.html' %}
{% block content %}

<main class="single_home">
    <div class="container">
 <div>
        {% for home in homes %}

        <div>

            <a href="{% url 'homes' homes.id %}" class="homes"></a>
                <img src="{{ homes.images.url}} " />
                <h3> {{ homes.title }}</h3>
                <div>{{ homes.description }}</div>
                <div>{{ homes.price }}</div>
        </div>
        {% endfor %}
    </div>
    </div>
</main>

{% endblock %}