{% extends 'us/base.html' %}
{% load static %}
{% block content %}
<main>
    <div>
        {% for uss in us %}

        <div class="us__container">

            <a href="{% url 'uss' uss.id %}" class="uss"><h3 class="us__title"> {{ uss.title }}</h3></a>

            <div class="us__blockcontainer">
                <div class="us__block">
                    <img class="us__thumbnail" src="{{ uss.featured_images.url }} " />
                </div>
                <div class="us__block">
                    <div class="us__description">{{ uss.description }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}