*{
    margin:0;
    padding: 0;
    Box-sizing: border-box;
}
body{

   background-color: #f8efed;
}
a {
   text-decoration: none;
}
a:visited{
  color:#39090b;
}
ul {
   list-style-type: none;
}

.header {
  position: sticky;
  z-index: 111;
  background-color: var(--color-sub);
  padding: 0;
}
.container {
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  background: #dce0ed;
}
.header__logo> img {
  height: 5rem;
}
.header_menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
    margin-top: 0;
    font-family: 'Lobster';
    font-size: 30px;

}
.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 6.5rem;

}
.header__menuItem > a {
  color: var(--color-light);
  font-weight: 300;




}
.header_item{
margin-left: 50px;
}

.us__container{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}


.us__title{
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-sub);
  align-items: center;
  font-family: 'Lobster';
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.us__block{
    width: 50%;
    padding-top:10px;
    padding-right: 10px;
    padding-left:10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;



}
.us__thumbnail {
    width: 100%;
    height:auto;
    border: 1px solid #000000;
}
.us__description{
    font-size:25px;
    line-height:28px;
    color:#000000;
    font-family: "Noto Sans", sans-serif;
    justify-content: justify;

}
.us__blockcontainer{
    width: 100%;
    margin: 0 auto;
    font-size: 0;

}
.title{
  color: #3f0b0c;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Lobster';
}
.block{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }


.homes__container {
    height: 600px;
    width: 350px;
    flex-basis: 360px;
    background: #dce0ed;
    border: 2px solid #3f0b0c;
    padding-bottom: 10 px;
    overflow: hidden


}
.homes{
 display: flex;
 flex-direction: column;
}



.homes__images {
  width: 346px;
  height: 400px;
  object-fit: contain;
  padding-top:25px;
}
.easy-zoom-effect {
  transition: transform 0.5s ease;
}

.easy-zoom-effect:hover {
  transform: scale(1.25);
}
.homes__price{
  color: #3f0b0c;
  text-align: center;
  font-size: 22px;
  font-family: 'Lobster';
  padding-top: 50px;
  }

.homes__title{
  color: #3f0b0c;
  font-size: 30px;
  text-align: center;
  font-family: 'Lobster';
  padding-top: 25px;
}






