*{
    margin:0;
    padding: 0;
    Box-sizing: border-box;
}
body{
   background-color: #f8efed;
}
a {
   text-decoration: none;
}
a:visited{
  color:#39090b;
}
ul {

}
p{
   font-weight:bold;
}

.header {
  position: sticky;
  z-index: 111;
  background-color: var(--color-sub);
  padding: 0;
}
.container__header {
  display: flex;
  justify-content: flex-start ;
  align-items: center;
  background: #dce0ed;
}
.header__logo> img {
  height: 5rem;
}
.header_menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
    margin-top: 0;
    font-family: 'Lobster';
    font-size: 30px;
    list-style-type: none;

}
.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 6.5rem;

}
.header__menuItem > a {
  color: var(--color-light);
  font-weight: 300;




}
.header_item{
margin-left: 50px;
}

.us__container{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}


.us__title{
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-sub);
  align-items: center;
  font-family: 'Lobster';
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color:#39090b;

}
.us__block{
    width: 50%;
    padding-top:10px;
    padding-right: 10px;
    padding-left:10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;



}
.us__thumbnail {
    width: 100%;
    height:auto;
    border: 1px solid #000000;
    border-radius: 100px;
}
.us__description{
    font-size:20px;
    line-height:28px;
    color:#000000;
    font-family: "Noto Sans", sans-serif;
    justify-content: justify;
    text-align: justify;
    text-indent: 30px;
    padding-top: 50px;
    font-weight: normal;

}
.us__blockcontainer{
    width: 70%;
    margin: 0 auto;
    font-size: 0;

}
.title__home{
  color: #3f0b0c;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Lobster';
}
.block{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }


.homes__container {
    height: 600px;
    width: 350px;
    flex-basis: 360px;
    background: #dce0ed;
    border: 2px solid #3f0b0c;
    padding-bottom: 10 px;
    overflow: hidden;


}
.homes{
 display: flex;
 flex-direction: column;
}



.homes__images {
  width: auto;
  height: 400px;
  object-fit: contain;
  padding-top:25px;
}
.easy-zoom-effect {
  transition: transform 0.5s ease;
}

.easy-zoom-effect:hover {
  transform: scale(1.25);
}
.homes__price{
  color: #3f0b0c;
  text-align: center;
  font-size: 22px;
  font-family: 'Lobster';
  padding-top: 50px;

  }

.homes__title{
  color: #3f0b0c;
  font-size: 30px;
  text-align: center;
  font-family: 'Lobster';
  padding-top: 25px;

}

.block_home{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.home__img{
    margin-top: 50px;
    text-align: center;
}
.big{
border-radius: 30px;
}

.homes__description{
    font-size:25px;
    line-height:28px;
    color:#000000;
    font-family: "Noto Sans", sans-serif;
    justify-content: justify;
    line-height: 1.8 ;
}

.footer{
  display: flex;
  background: #dce0ed;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0px;

  }
.contact{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;

}
.contact_block{
    padding-bottom: 10 px;
    overflow: hidden;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px;
}
.contact_container{
    display: flex;

}
.reviews{
    width:360px;
    height:650px;
    overflow:hidden;
    position:relative;
}
.location{
    position:relative;
    overflow:hidden;

}

.heading__contact{
  color: #3f0b0c;
  font-size: 20px;
  text-align: left;
  font-family: 'Lobster';
  padding-top: 15px;
}
.text__contact{
  font-size: 18px;
  text-align: left;
  font-family: 'Lobster';
  text-decoration: none;
  color:black;

}
.location__title{
color:#eee;
font-size:12px;
position:absolute;
top:0px;
}
.location__b{
color:#eee;
font-size:12px;
position:absolute;
top:14px;
}
.location__a{
    position:relative;
    width="560";
    height="1000";
    frameborder="1";
    allowfullscreen="true";
}

.attractions{
    height: 420px;
    width: 350px;
    flex-basis: 360px;
    background: #dce0ed;
    border: 1px solid #3f0b0c;
    overflow: hidden;
    border-radius: 50px;
    margin-top: 50px;

    }
attractions__container{
    display: flex;
    flex-direction: column;
}

.attractions__images {
    width: 320px;
    height: auto;
    object-fit: contain;



}
.attractions__title{
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-sub);
  align-items: center;
  font-family: 'Lobster';
  text-align: center;
  color:#39090b;


}
.attractions__description{
    font-size:20px;
    line-height:20px;
    color:#000000;
    font-family: "Noto Sans", sans-serif;
    justify-content: justify;
    line-height: 1 ;
    text-align: center;
}
.attractions__titl{
    width: auto;
    height: 100px;

}
.attractions__img{

    align-items: center;
    text-align: center;
}






